<nav>
    <div>
        <span><a href="/">Dashactyl</a></span>
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/servers/new">Create Server</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/earn/afk">AFK Page</a></li>
        </ul>
    </div>
    <% if (user) { %>
        <button id="dropdown-button" data-dropdown-toggle="dropdown-options">
            <img src="<%= user.avatar %>" alt="user_avatar">
        </button>
        <div id="dropdown-options">
            <span>
                <%= user.username %>
            </span>
            <span>
                <%= user.resources.coins %> Coins
            </span>
            <span>Package: <%= user.package %></span>
            <ul>
                <li><a href="/account">Account</a></li>
                <li><a href="/earn/redeem">Redeem</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <% } %>
</nav>
<style>
    #dropdown-options {
        display: none;
    }
    #dropdown-button:hover #dropdown-options {
        display: block;
    }
</style>
