<!DOCTYPE html>
<%- include("./components/head.ejs", { title: "Home", description: "Home Page" }) %>
    <body>
        <%#- include('./components/navbar') %>
        <a href="/login">Login</a> or <a href="/signup">Signup</a>?
    </body>
</html>
