<!DOCTYPE html>
<html lang="en">
    <%- include("./components/head.ejs", { title: "Login", description: "Login Page" }) %>

    <body>
        <%#- include('./components/navbar') %>
        <form name="authLogin" action="/auth/login" method="POST" onsubmit="validate()">
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Login"><br><br>
        </form>
        <%# TODO: implement 'continue as' feature %>
        <button onclick="window.location.href = '/auth/discord'">Login with Discord</button>
        <script>
            function validate() {
                let missing = '';
                if (!document.forms['authLogin']['email'].value?.length) {
                    missing = 'email';
                }
                if (!document.forms['authLogin']['password'].value?.length) {
                    if (missing) {
                        missing += 'and password ';
                    } else {
                        missing = 'password ';
                    }
                }
                if (missing) {
                    event.preventDefault();
                    // temp alert thing
                    alert(missing +'field(s) was not provided.');
                }
            }
        </script>
    </body>
</html>
