<!DOCTYPE html>
<html lang="en">
    <%- include("./components/head.ejs", { title: "Signup", description: "Signup Page" }) %>

    <body>
        <%#- include('./components/navbar') %>
        <form name="authLogin" action="/auth/signup" method="POST" onsubmit="validate()">
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Sign Up"><br><br>
        </form>
        <button onclick="window.location.href = '/auth/discord'">Sign up with Discord</button>
        <script>
            function validate() {
                let missing = '';
                if (!document.forms['authLogin']['username'].value?.length) {
                    missing = 'username ';
                } else {
                    const username = document.forms['authLogin']['username'].value;
                    if (/[^a-zA-Z0-9!\$\#\*\_\+\-]/g.test(username)) {
                        event.preventDefault();
                        // temp alert
                        alert('Username can only have letters, numbers and these characters:\n! $ # * _ + -');
                        return;
                    }
                }
                if (!document.forms['authLogin']['email'].value?.length) {
                    if (missing) {
                        missing += 'and email ';
                    } else {
                        missing = 'email ';
                    }
                }
                if (!document.forms['authLogin']['password'].value?.length) {
                    if (missing) {
                        missing += 'and password ';
                    } else {
                        missing = 'password ';
                    }
                }
                if (missing) {
                    event.preventDefault();
                    // temp alert thing
                    alert(missing +'field(s) was not provided.');
                }
            }
        </script>
    </body>
</html>
