<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="<%= description %> • Dashactyl">
    <title><%= title %> | Dashactyl</title>
</head>
